/* CSS Document */
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #fff;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (min-width:480px) {
    /*　for iPhone Landscape　(iPhone 横)　*/
 body {
   text-align: center;
   font-size: 7px;
 }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　for iPad 　*/
  body {
    text-align: center;
    font-size: 7px;
  }
}
@media screen and (min-width:1024px) {
    /*　for PC　*/
  body {
    text-align: center;
    font-size: 13px;
  }
}
